{% load staticfiles %}
{% block footer %}
<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12 center">
                <img class="responsive-img logo-jump-footer" src="{% static 'imagenes/logoJumping3Edit.png' %}">
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-4 center">
        <div class="container">
            © 2020 Todos los registros reservados
        </div>
    </div>
</footer>
{% endblock %}