{% load staticfiles %}
{% block navbar %}

<div class="menu">
    <nav>
        <div class="nav-wrapper z-depth-5 blue-grey darken-4 hoverable">
            <div class="container-redes">
                <ul class="left">      
                    <li class="link"><a href="https://www.facebook.com/davidjesus.palma" target="_blank"><i class="icon ion-logo-facebook"></i></a></li>
                    <li class="link"><a href="https://twitter.com/davidpalmalugo" target="_blank"><i class="icon ion-logo-twitter"></i></a></li>
                    <li class="link"><a href="https://www.instagram.com/david_palma07/" target="_blank"><i class="icon ion-logo-instagram"></i></a></li>
                    <li class="link"><a href="https://github.com/Tekorita" target="_blank"><i class="icon ion-logo-github"></i></a></li>
                    <li class="link"><a href="https://www.linkedin.com/in/david-palma-lugo-b53388105/" target="_blank"><i class="icon ion-logo-linkedin"></i></a></li>
                </ul>
            </div>
            <ul class="right hide-on-med-and-down">
                <li class="border-nav-1 link waves-effect waves-purple waves-effect waves-block waves-light"><a href="#">Home</a></li>                
                <li class="border-nav-2 link waves-effect waves-orange waves-effect waves-block waves-light"><a href="#">Sobre mi</a></li>                
                <li class="border-nav-3 link waves-effect waves-yellow waves-effect waves-block waves-light"><a href="#">Skills</a></li>            
                <li class="border-nav-4 link waves-effect waves-red waves-effect waves-block waves-light"><a href="#">Proyectos</a></li>                
                <li class="border-nav-5 link waves-effect waves-blue waves-effect waves-block waves-light"><a href="#">Experiencia</a></li>                
                <li class="border-nav-6 link waves-effect waves-teal waves-effect waves-block waves-light"><a href="#">Contacto</a></li>                    
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul id="slide-out" class="sidenav">
                    <li>
                        <div class="user-view">
                          <div class="background">
                            <img src="{% static 'imagenes/paralax4.jpg' %}">
                          </div>
                          <a href="#"><img class="circle" src="{% static 'imagenes/yo3.jpg' %}"></a>
                          <a href="#"><span class="white-text name">David Palma Lugo</span></a>
                          <a href="#"><span class="white-text email">davidpalmalugo@gmail.com</span></a>
                        </div>
                    </li>
                    <li class="link-movil1 waves-effect waves-teal waves-effect waves-block waves-light"><a href="#"><i class="material-icons">home</i>Home</a></li>
                    <li class="link-movil2 waves-effect waves-teal waves-effect waves-block waves-light"><a href="#"><i class="material-icons">face</i>Sobre mi</a></li>
                    <li class="link-movil3 waves-effect waves-teal waves-effect waves-block waves-light"><a href="#"><i class="material-icons">code</i>Skills</a></li>
                    <li class="link-movil4 waves-effect waves-teal waves-effect waves-block waves-light"><a href="#"><i class="material-icons">laptop_mac</i>Proyectos</a></li>
                    <li class="link-movil5 waves-effect waves-teal waves-effect waves-block waves-light"><a href="#"><i class="material-icons">card_travel</i>Experiencias</a></li>
                    <li class="link-movil6 waves-effect waves-teal waves-effect waves-block waves-light"><a href="#"><i class="material-icons">call</i>Contacto</a></li>
                    
                    <li><div class="divider"></div></li>
                <!--    <li><a class="subheader">Redes</a></li> -->                                    
            </ul>
        </div>
    </nav>
</div>

{% endblock %}
