{% load staticfiles %}
{% block content %}
<div id="experiencia" class="section scrollspy">
	<div class="container-fluid white-text">
		<div class="row">
			<div class="col s12 m12 l12 center">
				<img class="responsive-img" src="{% static 'imagenes/experiencia.png'%}">
			</div>
			<div class="col s12 m12 l12 wow bounceInUp" data-wow-duration="1.4s">
				<div class="col s12 m6 l6 center wow bounceInUp" data-wow-duration="1.4s" data-wow-delay="0.1s">
					<h5 class="white-text center">Experiencia laboral en Chile</h5><br>    
					<img class="responsive-img circle z-depth-5 logo-pais" src="{% static 'imagenes/cl.png'%}">
				</div>		    				    		
				<div class="col s12 m6 l6" data-wow-duration="1.4s">
					<ul class="collapsible accordion">
						<li>
							<div class="collapsible-header blue-text"><i class="material-icons">work</i><a href="https://http://www.techk.cl/" target="_blank">Techk cl -</a>	
								Badajoz 45, Las Condes (Actualmente)<i class="material-icons">keyboard_arrow_down</i></div>
							<div class="collapsible-body">
								<span>
									<ul>
										<li>- Programador Full stack</li>
									</ul>
								</span>
							</div>
						</li>

						<li>
							<div class="collapsible-header blue-text"><i class="material-icons">work</i><a href="https://beeinfluencer.cl/" target="_blank">Beeinfluencer.cl </a> Av el Coihue 4117 Vitacura (05/2019 - 07/2019)<i class="material-icons">keyboard_arrow_down</i></div>
							<div class="collapsible-body">
								<span>
									<ul>
										<li>- Programador Fronted</li>
									</ul>
								</span>
							</div>
						</li>
					
					</ul>
				</div>
			</div>
			<div class="col s12 m12 l12 wow bounceInUp" data-wow-duration="1.4s">
				<div class="col s12 m6 l6 center wow bounceInUp" data-wow-duration="1.4s">
					<h5 class="white-text center">Experiencia laboral en Perú</h5><br>    
					<img class="responsive-img circle z-depth-5 logo-pais" src="{% static 'imagenes/peru.png'%}">
				</div>		    				    		
				<div class="col s12 m6 l6 wow bounceInUp" data-wow-duration="1.4s" data-wow-delay="0.1s">
					<ul class="collapsible accordion">
						<li>
							<div class="collapsible-header blue-text"><i class="material-icons">work</i>Visitec Solutions S.A.C Av Venezuela 915 con av arica (12/2017 - 02/2018)<i class="material-icons">keyboard_arrow_down</i></div>
							<div class="collapsible-body">
								<span>
									<ul>
										<li>- Programador Web Backend y Fronted</li>
									</ul>
								</span>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue-text"><i class="material-icons">work</i>Inkafarma, Calle villareal 412 Miraflores (11/2018 - 12/2018)<i class="material-icons right">keyboard_arrow_down</i></div>
							<div class="collapsible-body">
								<span>
									<ul>
										<li>- Diseño y desarrollo de sistema para el control de delivery</li>
									</ul>	
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col s12 m12 l12 wow bounceInUp" data-wow-duration="1.4s"">		    			    		
				<div class="col s12 m6 l6 center wow bounceInUp" data-wow-duration="1.4s">
						<h5 class="white-text center">Experiencia laboral en Venezuela</h5><br>    
    					<img class="responsive-img circle z-depth-5 logo-pais" src="{% static 'imagenes/vzla.png'%}">
    			</div>		
		        <div class="col s12 m6 l6 wow bounceInUp" data-wow-duration="1.4s" data-wow-delay="0.1s">
		        	
				    <ul class="collapsible accordion">
					    <li>
					      	<div class="collapsible-header blue-text"><i class="material-icons">work</i>Clínica Rescarven Imagenes para la vida C.A. Caracas Venezuela (2012-2017)<i class="material-icons right">keyboard_arrow_down</i></div>
					      	<div class="collapsible-body">
					      		<span>
					      			<ul>
					      				<li>- Analista de sistema</li>
					      				<li>- Administrador de redes y base de datos</li>
					      				<li>- Soporte técnico</li>
					      			</ul>	
					      		</span>
					      	</div>
					    </li>
					    <li>
					      	<div class="collapsible-header blue-text"><i class="material-icons">work</i>Clínica rescarven en Centro Imagen Chuao c.a. Caracas Venezuela (2010-2017)<i class="material-icons right">keyboard_arrow_down</i></div>
					      	<div class="collapsible-body">
					      		<span>
									<ul>
										<li>- Desarrollador de sistema de gestión de citas en departamento de radiología.</li>
										<li>- Desarrollador de sistema de proceso de transcripción para informes médicos.</li>
										<li>- Administrador de base de datos, red y técnico en soporte para los equipos.</li>
									</ul>	
					      		</span>
					      	</div>
					    </li>
					    <li>
					      	<div class="collapsible-header blue-text"><i class="material-icons">work</i>Xirox systems C.A. Caracas Venezuela (2012-2017)<i class="material-icons right">keyboard_arrow_down</i></div>
					      	<div class="collapsible-body">
					      		<span>
					      			<ul>
					      				<li>- Programador Web Fronted/Backend</li>
					      				<li>- Analista y programador en visual basic</li>
					      				<li>- Administrador de redes y base de datos</li>
					      				<li>- Servicios de soporte técnico</li>
					      				<li>- Vendedor de equipos de Informática</li>
					      			</ul>	
					      		</span>
					      	</div>
					    </li>
					    <li>
					      	<div class="collapsible-header blue-text"><i class="material-icons">work</i>Consultorio médico Centro Uslar C.A Clínica Rescarven(2014-2015)<i class="material-icons right">keyboard_arrow_down</i></div>
					      	<div class="collapsible-body">
					      		<span>
					      			<ul>
					      				<li>- Desarrollo de sistema para el control de citas del consultorio</li>
					      			</ul>
					      		</span>
					      	</div>
					    </li>
					</ul>
				</div>
										    	
	    	</div>


			<br><br>

	    </div>    
	</div>
</div>  
{% endblock %}