{% load staticfiles %}
{% block content %}

<div id="sobremi" class="section scrollspy">
	<div class="container-fluid">
		<div class="row">			            
			<div class="col s12 m12 l12">		    		
				<div class="col s12 m12 l12 center wow slideInRight" data-wow-duration="1.4s">
					<img class="responsive-img" src="{% static 'imagenes/bienvenidos1.png'%}">
				</div>
				<h6>		    		
				<p class="white-text center wow slideInLeft aumenta" data-wow-duration="1.4s" data-wow-delay="0.2s">        	
					Bienvenidos a mi sitio web personal. Donde les hablare un poco <br> 
					sobre mi carrera profesional y mis proyectos web realizados que<br> 
					me han ayudado mucho en mi crecimiento como programador web. <br>				        	
				</p>
				</h6>
			</div>
		</div>   
	</div>
</div>
{% endblock %}