{% load staticfiles %}
{% block content %}
			
		<div class ="container-fluid">
            <div class="contenedor-logos">
    			<div class ="row">
    				<div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/html5.png'%}">
                    </div>
                    <div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/css3.png'%}">
                    </div>
                    <div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/js.png'%}">
                    </div>
                    <div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/bootstrap.png'%}">
                    </div>
                    <div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/materializecss.png'%}">
                    </div>
                    <div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/sass.png'%}">
                    </div>
                </div>
                <div class="row">
                    <div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/python.png'%}">
                    </div>
                    <div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/django.png'%}">
                    </div>
                    <div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/laravel.png'%}">
                    </div>
                    <div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/git.png'%}">
                    </div>
                    <div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/github.png'%}">
                    </div>
                    <div class="col hide-on-small-only m2 l2">
                        <img class="responsive-img" src="{% static 'imagenes/vue.png'%}">
                    </div>
        		</div>
                <!-- Version movil -->
                
                <div class="row">
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/html5.png'%}">
                    </div>
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/css3.png'%}">
                    </div>
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/js.png'%}">
                    </div>
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/sass.png'%}">
                    </div>
                </div>
      
                <div class="row">
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/bootstrap.png'%}">
                    </div>
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/materializecss.png'%}">
                    </div>
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/python.png'%}">
                    </div>
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/django.png'%}">
                    </div>
                </div>
      
                <div class="row">
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/laravel.png'%}">
                    </div>
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/git.png'%}">
                    </div>
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/github.png'%}">
                    </div>
                    <div class="col show-on-small hide-on-med-only hide-on-large-only s3">
                        <img class="responsive-img" src="{% static 'imagenes/react.png'%}">
                    </div>
                </div>
            
            </div>	    			
    	</div>	    	
	     
	
{% endblock %}