{% load staticfiles %}
{% block content %}
	<div class="parallax-window2" data-parallax="scroll" data-bleed="10" data-speed="0.1" data-image-src="{% static 'imagenes/paralax3.jpg' %}">
		<div class= "contenedor-refran">
			<div class ="container center-align">							
				<h5 class="white-text"><strong>Quizás no sea un genio ni 
					<a href="#" class="typewrite" data-period="2000" data-type='["el gran Thanos", "el mejor programador del mundo", "un tigre", "un chihuahua mordelon" ]'></a> pero...</strong>
				</h5>
				<h3 class="white-text"><strong>ME APASIONA LO QUE HAGO!<strong></h3>
			</div>			    			
    	</div>	    	
	</div>
	
{% endblock %}