{% load staticfiles %}
{% block content %}
<div id="skills" class="section scrollspy">
	<div class="container-fluid">
		<div class="row white-text">
			<div class="col s12 m12 l12 center">
				<img class="responsive-img" src="{% static 'imagenes/skills1.png'%}">
			</div>

			<div class="col s12 m6 l3 wow bounceInUp" data-wow-duration="1.4s">
			    <h4><strong>Fronted</strong></h4>
			        <ul>
			        	<li><i class="material-icons">done</i> Html5</li>
			        	<li><i class="material-icons">done</i> CSS3</li>
			        	<li><i class="material-icons">done</i> Javascript</li>
			        	<li><i class="material-icons">done</i> Jquery</li>
			        	<li><i class="material-icons">done</i> FlexboxGrid</li>
			        	<li><li>
			        	<li><h6><strong>- Preprocesadores -</strong></h6></li>
			        	<li><i class="material-icons">done</i> Sass</li>
			        	<li><li>
			        	<li><h6><strong>- Frameworks -</strong></h6></li>
			        	<li><i class="material-icons">done</i> Materializecss</li>
			        	<li><i class="material-icons">done</i> Bootstrap<li>
			        	<li><h6><strong>- Librerías -</strong></h6></li>
						<li><i class="material-icons">done</i> Vue Js</li>
						<li><i class="material-icons">done</i> React Js</li>
						<li><h6><strong>- Empaquetador -</strong></h6></li>
						<li><i class="material-icons">done</i> Webpack</li>
			        </ul>
			</div>
			<div class="col s12 m6 l3 wow bounceInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">
			    <h4><strong>Backend</strong></h4>
			        <ul>
			        	<li><i class="material-icons">done</i> Python</li>
			        	<li><i class="material-icons">done</i> PHP</li>
			        	<li></li>
			        	<li><h6><strong>- Frameworks -</strong></h6></li>
						<li><i class="material-icons">done</i> Django</li>
						<li><i class="material-icons">done</i> Flask</li>
						<li><i class="material-icons">done</i> Laravel</li>
						<li><i class="material-icons">done</i> Codigniter</li>
			        </ul>
			</div>
			<div class="col s12 m6 l3 wow bounceInUp" data-wow-duration="1.4s" data-wow-delay="0.5s">
			    <h4><strong>Base de Datos</strong></h4>
			        <ul>
			        	<li><i class="material-icons">done</i> MySql</li>
			        	<li><i class="material-icons">done</i> Postgresql</li>
			        </ul>
			</div>
			<div class="col s12 m6 l3 wow bounceInUp" data-wow-duration="1.4s" data-wow-delay="0.7s">
			    <h4><strong>Gestor de Versiones</strong></h4>
			        <ul>
			        	<li><i class="material-icons">done</i> Git</li>
						<li><i class="material-icons">done</i> GitHub </li>
						<li><i class="material-icons">done</i> Bitbucket</li>
						<li><i class="material-icons">done</i> Git-Flow</li>
			        </ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
