{% extends 'base/base.html' %}
{% block content %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td><strong>Id</strong></td>
			<td><strong>Campaña</strong></td>
			<td><strong>Nombre</strong></td>
			<td><strong>Departamento</strong></td>
			<td><strong>Distrito</strong></td>
			<td><strong>Direccion</strong></td>
		</tr>	
	</thead>
	<tbody>
		{% if object_list %}
		{% for sede in object_list %}
		<tr>
			<td>{{ sede.id }}</td>
			<td>{{ sede.campaña.nombre }}</td>
			<td>{{ sede.nombre }}</td>
			<td>{{ sede.departamento.nombre }}</td>
			<td>{{ sede.distrito.nombre }}</td>
			<td>{{ sede.direccion }}</td>
			<td>
				<a class = "btn btn-primary" href="{% url 'sede_editar' sede.id %}">Editar</a>
				<a class = "btn btn-danger" href="{% url 'sede_eliminar' sede.id %}">Eliminar</a>
			</td>		
		</tr>
		{% endfor %}
		{% else %}
			<h1>No hay registro de Sedes</h1>
		{% endif %}
	</tbody>	
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
	</li>
	<li>
		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
		{% endif %}
	</li>
</ul>
{% endblock %}