{% extends 'base/base.html' %}
{% block content %}
<h3 class="title-sede animated zoomIn">Listado de Sedes</h3>
<a class="btn-floating btn-large waves-effect light-blue darken-3" href="{% url 'sede_crear' %}"><i class="material-icons">add</i></a>
<table class="striped responsive-table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Campaña</th>
			<th>Nombre</th>
			<th>Departamento</th>
			<th>Distrito</th>
			<th>Direccion</th>
		</tr>	
	</thead>
	<tbody>
		{% if object_list %}
		{% for sede in object_list %}
		<tr>
			<td>{{ sede.id }}</td>
			<td>{{ sede.campaña.nombre }}</td>
			<td>{{ sede.nombre }}</td>
			<td>{{ sede.departamento.nombre }}</td>
			<td>{{ sede.distrito.nombre }}</td>
			<td>{{ sede.direccion }}</td>
			<td>
				<a class = "btn teal accent-4" href="{% url 'sede_editar' sede.id %}">Editar</a>
				<a class = "btn red lighten-2" href="{% url 'sede_eliminar' sede.id %}">Eliminar</a>
			</td>		
		</tr>
		{% endfor %}
		{% else %}
			<h1>No hay registro de Sedes</h1>
		{% endif %}
	</tbody>	
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
	</li>
	<li>
		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
		{% endif %}
	</li>
</ul>
{% endblock %}