{% extends 'base/base.html' %}
{% block content %}
<h3 class="title-campaña animated zoomIn">Listado de Campañas</h3>
<a class="btn-floating btn-large waves-effect light-blue darken-3" href="{% url 'campaña_crear' %}"><i class="material-icons">add</i></a>
<table class="striped responsive-table">
	<thead>
		<tr>
			<th><strong>Id</strong></th>
			<th><strong>Nombre</strong></th>
		</tr>	
	</thead>
	<tbody>
		{% if object_list %}
		{% for campaña in object_list %}
		<tr>
			<td>{{ campaña.id }}</td>
			<td>{{ campaña.nombre }}</td>
			<td>
				<a class = "btn teal accent-4" href="{% url 'campaña_editar' campaña.id %}">Editar</a>
				<a class = "btn red lighten-2" href="{% url 'campaña_eliminar' campaña.id %}">Eliminar</a>
			</td>		
		</tr>
		{% endfor %}
		{% else %}
			<h1>No hay registro de campañas</h1>
		{% endif %}
	</tbody>	
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
	</li>
	<li>
		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
		{% endif %}
	</li>
</ul>
{% endblock %}